.App {
  text-align: center;
}

.Search{
  width: 500px;
  height: 25px;
  margin-bottom: 25px;
}

.Buttons button{
  width: 100px;
  height: 65px;
  margin: 5px;
  background-color: gray;
}

.TaskInput{
  width: 500px;
  height: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.AddBtn{
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 25px;
}

.Progress{
  font-size: 30px;
  margin-bottom: 25px;
}















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
