.task-item{
    display: flex;
    width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 1px;
    i{
        margin: 5px;
    }
    .task_is_done{
        text-decoration: line-through;
    }
}